<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.kay.edvora">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Edvora"
        tools:replace="android:label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Views.Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Activity.BaseAuth"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".Views.Activity.Landing"/>
        <activity
            android:name=".Views.Activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>

</manifest>